<nav class="menu">
            <ul class="catalog_list clearfix">
                <li class="menu-catalog-list"><a href="index.php?path=index" class="menu-catalog-link">Home</a></li>
                <li class="menu-catalog-list"><a href="index.php?path=catalog" class="menu-catalog-link" id="catalog">Catalog</a></li>
                <li class="menu-catalog-list"><a href="index.php?path=contacts" class="menu-catalog-link">Contacts</a></li>  
            </ul>
        </nav>

        <div class="menu-line"></div>