<a href="index.php">Главная</a>
        <form method="post">
                <input type="text" name="login" placeholder="Login" autofocus required> 
                <input type="password" name="pass" placeholder="Password" required>
                <input type="submit" name="in" value="Войти">
            </form>