{% for d in data %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ d.name }}</title>
</head>
    <body>

        <div style="width: 85%; margin: 0 auto;"><img src="images/big/{{ d.name }}" alt="" style="width: 100%; "></div>    
    
    </body>
</html>
{% endfor %}